<mat-sidenav-container fullscreen align="center">

<app-menu></app-menu>

<div class="padding-top-60">
  <div *ngIf="!(authenticationService.currentUserValue | async); else alreadyLoggedIn">
    <div class="Card-Aligner">
      <mat-card class="card-items">
        <h1>Login to Your Account</h1>
        <form [formGroup]="userForm" (ngSubmit)="login()">

          <mat-form-field class="input-full">
            <input matInput #email type="email" placeholder="Email address" formControlName="email" required>
            <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-full">
            <input matInput #password type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
          </mat-form-field>

          <button type="submit" mat-raised-button color="accent" [disabled]="!userForm.valid">Sign In</button>

        </form>
        <br>
        <mat-card-actions>
          No Account? - <a routerLink="/register">Register Here Now</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #alreadyLoggedIn>
    <p class="text-success">
      Already logged in!
    </p>
  </ng-template>

</div>

<app-footer></app-footer>

</mat-sidenav-container>