<div>

  <div class="parrallax-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url('+'/assets/img/comi.jpg'+')'}">

    <div class="parallax-left-content">
      <section class="parallax-position">

        <div class="parallax-right-content"> 
          
        </div>

        <div class="parallax-img-container">
          
        </div>
      </section>

    </div>

  </div>

  <div class="container">

    <app-playing-video></app-playing-video>

  </div>


</div>
